spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.0/en_core_web_lg-2.2.0.tar.gz#egg=en_core_web_lg
Flask==1.1.1
Flask-Cors==3.0.8
spacy==2.1.8
gunicorn==19.9.0
dateparser